<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>Taskmon</title>
  </head>
  <body class="relative font-[Poppins] bg-[#f1faee]">
    <section class="header-nav fixed top-0 left-0 right-0 z-40">
      <header
        class="header-container h-10 text-center flex items-center justify-center text-sm text-white bg-[#3a86ff] max-sm:text-xs"
      >
        <p class="announcement-link font-semibold">
          Announcement:
          <a href="" class="font-medium"
            >1.0 launch, new improvements and bug fixes are here!</a
          >
        </p>
      </header>
      <nav
        class="navbar h-20 flex justify-between items-center px-4 bg-[#f1faee]"
      >
        <div class="logo-container w-[30%]">
          <a
            href="/"
            class="logo-link flex items-center text-2xl font-semibold text-[#e63946]"
            style="font-family: 'Varela Round'"
          >
            <img src="/images/logo.png" width="34" alt="Taskmon Logo" />
            taskmon.com
          </a>
        </div>
        <div class="menu-container w-[40%] max-sm:hidden">
          <ul class="menu-list flex justify-evenly text-gray-500">
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a class="menu-link" href="/get-started">Get started</a>
            </li>
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a
                class="menu-link"
                href="https://github.com/rajmanna-dev/taskmon"
                target="_blank"
                >Contributions</a
              >
            </li>
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a class="menu-link" href="/about">About</a>
            </li>
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a class="menu-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="login-report-options w-[30%] max-sm:hidden">
          <ul class="option-list flex justify-end">
            <li
              class="btn-login option-item px-3 py-2 rounded font-medium cursor-pointer bg-[#3a86ff] border border-[#3a86ff] text-white hover:text-[#3a86ff] hover:bg-transparent"
            >
              Register/Login
            </li>
            <li
              class="option-item px-3 py-2 ml-2 rounded border bg-[#e63946] border-[#e63946] text-white hover:text-[#e63946] hover:bg-transparent"
            >
              <a href="mailto:wts.devs@yahoo.com" class="font-medium"
                >Bug report</a
              >
            </li>
          </ul>
        </div>
        <div class="hamburger-icon sm:hidden">
          <a href="#triggerMenu" class="nav-icon" id="nav-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="28"
              height="28"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="lucide lucide-align-justify"
            >
              <line x1="3" x2="21" y1="6" y2="6" />
              <line x1="3" x2="21" y1="12" y2="12" />
              <line x1="3" x2="21" y1="18" y2="18" />
            </svg>
          </a>
        </div>
      </nav>
    </section>
  </body>
</html>
