<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Varela+Round&display=swap"
      rel="stylesheet"
    />
    <link href="/css/output.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <title>Taskmon</title>
  </head>
  <body class="font-[Poppins] bg-[#f1faee]">
    <section class="header-nav">
      <header
        class="header-container h-10 flex items-center justify-center text-sm text-white bg-[#3a86ff]"
      >
        <a href="#" class="announcement-link font-medium"
          ><span class="announcement-text font-semibold">Announcement:</span>
          1.0 launch, new improvements and bug fixes are here!
        </a>
      </header>
      <nav class="navbar h-20 flex justify-between items-center px-4">
        <div class="logo-container w-[30%]">
          <a
            href="/"
            class="logo-link flex items-center text-2xl font-semibold text-[#e63946]"
            style="font-family: 'Varela Round'"
          >
            <img src="/images/logo.png" width="34" alt="Taskmon Logo" />
            taskmon
          </a>
        </div>
        <div class="menu-container w-[40%]">
          <ul class="menu-list flex justify-evenly text-gray-500">
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a class="menu-link" href="/get-started">Get started</a>
            </li>
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a
                class="menu-link"
                href="https://github.com/rajmanna-dev/taskmon"
                target="_blank"
                >Contributions</a
              >
            </li>
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a class="menu-link" href="/about">About</a>
            </li>
            <li
              class="menu-item underline-offset-[1rem] decoration-2 hover:text-black hover:underline"
            >
              <a class="menu-link" href="/contact">Contact</a>
            </li>
          </ul>
        </div>
        <div class="login-report-options w-[30%]">
          <ul class="option-list flex justify-end">
            <li
              class="option-item px-3 py-2 rounded bg-[#3a86ff] border border-[#3a86ff] text-white hover:text-[#3a86ff] hover:bg-transparent"
            >
              <a href="#" class="font-medium">Register/Login</a>
            </li>
            <li
              class="option-item px-3 py-2 ml-2 rounded border bg-[#3a86ff] border-[#3a86ff] text-white hover:text-[#3a86ff] hover:bg-transparent"
            >
              <a href="#" class="font-medium">Bug report</a>
            </li>
          </ul>
        </div>
      </nav>
    </section>
