<%- include('partials/header.ejs') %>
  <section class="hero-container px-4 my-5">
    <div class="hero-grid-container grid grid-cols-2">
      <div class="hero-left-container">
        <h1 class="hero-heading text-[4rem] leading-tight tracking-tighter">
          <span class="text-[4.56rem]">Make Every Day</span> Count
          <span class="text-[#e63946]">with Simple Planning</span>
        </h1>
        <div class="hero-tags my-7 p-1 border-l-4 border-l-[#e63946]">
          <span class="py-1 px-2 ml-1.5 bg-red-100"
            >Organize, Prioritize and Achieve.</span
          >
        </div>
        <div class="hero-links flex items-center">
          <a href="/auth/google/dashboard"
            class="dashboard-link px-4 py-3 rounded-md text-white bg-[#e65946]">
            Dashboard
          </a>
          <a href="#" class="ml-5 text-[#e65946] font-semibold underline-offset-4 decoration-2 decoration-[#e65946] hover:underline">
            Get started - it's free
          </a>
        </div>
      </div>
      <div class="hero-right-container">
        <div class="intro-video-container mr-4 rounded-sm ring-[15px] ring-[#e9edc9]">
          <video class="rounded-md" width="100%" preload="auto" controls>
            <source src="/video/intro.mp4" type="video/mp4" />
            Unable to play video.
          </video>
        </div>
      </div>
    </div>
  </section>
  <section class="features-container mx-4 my-24">
    <h2 class="text-center font-medium text-4xl text-gray-400">
      Features
    </h2>
    <div class="feature-grid-container grid grid-rows-3 my-10">
      <!-- Feature 1 -->
      <div class="feature p-24 my-10 flex justify-between bg-gray-300">
        <div class="left w-[450px]">
          <h3 class="text-4xl font-medium">Lorem ipsum dolor sit</h3>
          <p class="my-5 leading-loose">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores error distinctio ipsa blanditiis sunt, tenetur alias accusamus possimus. Molestias, quo!</p>
          <a href="#" class="py-3 px-5 font-bold rounded-md text-white bg-[#e65946] border border-[#e65946] hover:bg-transparent hover:text-[#e65946]">Check it out</a>
        </div>
        <div class="right">
          <img src="/images/feature1.jpg" width="500" alt="">
        </div>
      </div>
      <!-- Feature 2 -->
      <div class="feature p-24 my-10 flex justify-between bg-gray-300">
        <div class="left w-[450px]">
          <h3 class="text-4xl font-medium">Lorem ipsum dolor sit</h3>
          <p class="my-5 leading-loose">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores error distinctio ipsa blanditiis sunt, tenetur alias accusamus possimus. Molestias, quo!</p>
          <a href="#" class="py-3 px-5 font-bold rounded-md text-white bg-[#e65946] border border-[#e65946] hover:bg-transparent hover:text-[#e65946]">Check it out</a>
        </div>
        <div class="right">
          <img src="/images/feature1.jpg" width="500" alt="">
        </div>
      </div>
      <!-- Feature 3 -->
      <div class="feature p-24 my-10 flex justify-between bg-gray-300">
        <div class="left w-[450px]">
          <h3 class="text-4xl font-medium">Lorem ipsum dolor sit</h3>
          <p class="my-5 leading-loose">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores error distinctio ipsa blanditiis sunt, tenetur alias accusamus possimus. Molestias, quo!</p>
          <a href="#" class="py-3 px-5 font-bold rounded-md text-white bg-[#e65946] border border-[#e65946] hover:bg-transparent hover:text-[#e65946]">Check it out</a>
        </div>
        <div class="right">
          <img src="/images/feature1.jpg" width="500" alt="feature1">
        </div>
      </div>
    </div>
  </section>
  <section class="testimonial-container mx-4 my-16">
    <h2 class="text-center font-medium text-4xl text-gray-400">
      Frequently asked questions
    </h2>
  </section>
  <%- include('partials/footer.ejs') %>

