<%- include('partials/header.ejs'); %>
<body class="font-[Poppins] bg-[#f1faee]">
  <section class="top-static-section">
    <header
      class="bg-[#3a86ff] text-white h-10 flex items-center justify-center text-sm"
    >
      <a href="#" class="announcement font-medium"
        ><span class="font-semibold">Announcement:</span> v2.0 launch, new
        update is here!
      </a>
    </header>
    <nav class="h-20 flex justify-between items-center px-4 text-[15px]">
      <div class="site-logo w-[244.78px]">
        <a
          href="/"
          class="flex items-center text-xl font-semibold text-[#e63946]"
          style="font-family: 'Varela Round'"
        >
          <img src="/images/logo.png" width="30" alt="Taskmon logo" />
          taskmon
        </a>
      </div>
      <div>
        <ul class="flex">
          <li class="mx-3 text-gray-500">
            <a href="/docs">Get started</a>
          </li>
          <li class="mx-3 text-gray-500">
            <a href="https://github.com/rajmanna-dev/taskmon" target="_blank"
              >Contribution</a
            >
          </li>
          <li class="mx-3 text-gray-500">
            <a href="/about">About</a>
          </li>
          <li class="mx-3 text-gray-500">
            <a href="/contact">Contact</a>
          </li>
        </ul>
      </div>
      <div class="users-option">
        <ul class="flex">
          <li
            class="bg-[#3a86ff] text-white py-2 px-3 mr-1 rounded font-semibold"
          >
            <a href="#">Register/Login</a>
          </li>
          <li
            class="border border-[#3a86ff] text-[#3a86ff] py-2 px-3 rounded font-semibold"
          >
            <a href="#">Bug report</a>
          </li>
        </ul>
      </div>
    </nav>
  </section>
  <section class="main px-4 my-5">
    <div class="grid-container grid grid-cols-2">
      <div class="left-container">
        <div class="heading text-[4rem] leading-tight tracking-tighter">
          <span class="text-[4.56rem]">Make Every Day</span> Count
          <span class="text-[#e63946]">with Simple Planning</span>
        </div>
        <div class="tags p-1 border-l-4 border-l-[#e63946] my-7">
          <span class="bg-red-100 py-1 px-2 ml-1.5"
            >Organize, Prioritize and Achieve.</span
          >
        </div>
        <a href="" class="text-[#e65946] font-semibold"
          >Get started - it's free</a
        >
      </div>
      <div class="right-container">
        <div class="intro-video mr-4 rounded-sm ring-8 ring-[#e9edc9]">
          <video
            class="rounded-md"
            width="100%"
            preload="auto"
            autoplay
            controls
          >
            <source src="/video/intro.mp4" type="video/mp4" />
            Unable to play video.
          </video>
        </div>
      </div>
    </div>
  </section>
  <section class="features bg-white my-24 py-14">
    <p class="text-gray-400 text-lg font-semibold text-center">
      - Stay Focused, Get Organized -
    </p>
    <div class="feature-grid-container grid grid-rows-3 grid-cols-2 my-16">
      <div class="feature-1 px-10 w-[600px]">
        <h2 class="text-4xl font-medium mt-8">
          Task management system dashboard
        </h2>
        <p class="text-lg text-gray-500 mt-3">
          Experience seamless task organization with our intuitive dashboard.
          Effortlessly manage, prioritize, and track your to-dos all in one
          place. Designed with simplicity and productivity in mind, the
          user-friendly interface ensures that staying on top of your tasks has
          never been easier. Whether it's for personal projects or work goals,
          our task management system helps you stay organized, focused, and in
          control of your day.
        </p>
      </div>
      <div class="feature-1-image">
        <img
          src="/images/feature1.jpg"
          alt="User-friendly task management system dashboard."
        />
      </div>
      <div class="feature-2-image">
        <img
          src="/images/feature1.jpg"
          alt="User-friendly task management system dashboard."
        />
      </div>
      <div class="feature-2 px-10 w-[600px]">
        <h2 class="text-4xl font-medium mt-8">
          Secure and seamless user authentication
        </h2>
        <p class="text-lg text-gray-500 mt-3">
          Easily create and access your account with our secure authentication
          system. Protect your tasks and personal data with encrypted login
          credentials, ensuring that your to-do lists are accessible only to
          you. Whether you’re registering for the first time or logging back in,
          our authentication process guarantees a smooth and safe experience
          every time.
        </p>
      </div>
      <div class="feature-3 px-10 w-[600px]">
        <h2 class="text-4xl font-medium mt-8">
          Remainder and notification system
        </h2>
        <p class="text-lg text-gray-500 mt-3">
          Stay on top of your tasks with our smart Reminder and Notification
          System. Set customized reminders for important deadlines, meetings, or
          daily goals, and receive real-time notifications to keep you on track.
          Whether it's a one-time task or a recurring event, our system ensures
          you'll never miss a beat, helping you stay organized and productive
          all day long.
        </p>
      </div>
      <div class="feature-3-image">
        <img
          src="/images/feature1.jpg"
          alt="User-friendly task management system dashboard."
        />
      </div>
    </div>
  </section>
  <%- include('partials/footer.ejs') %>
</body>
